p {
  color:teal;
  font-size: 20px;
  font-weight: bold;
}

p::first-letter{
  font-size: 200%;
}

h1 {
  color: darkcyan;
}

h2 {
  background-color: #EE3E80;
  font-size: 30px;
  text-transform: capitalize;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 7px #111;
}

h2:hover {
  color: aquamarine;
}

h2:active {
  color: rgb(221, 91, 4);
  font-weight: 800;
  text-transform: uppercase;
}

h3 {
  font-size: 25px;
  text-transform: capitalize;
}

body {
  font-family: 'Stick', sans-serif;
  background-color: lightcyan;
  /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/GarbageMonsters.jpg/1024px-GarbageMonsters.jpg'); */
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h1 + p {
  color: navy;
}

header {
  text-align: center;
}

footer {
  text-align: right;
}

a {
  color: red;
  background-color: yellow;
  padding: 2;
  margin: 2;
}

nav {
  background-color: rgb(0, 0, 0, 0.5);
  text-align: right;
  padding: 5;
  margin-right: 5;
  background-image: url('https://upload.wikimedia.org/wikipedia/en/4/48/Nosmokingposter.jpg');
  border: 1px solid blue;
}

img {
  opacity: 0.5;
  color: red;
}

#Latest, #Latest p, #Latest h2 {
  text-align: center;
  background-color: rgb(0, 0, 0, 0.8);
  color: white !important;
  font-family: 'Squada One', cursive;
  font-weight: normal;
  padding: 10px;
  margin: 50px;
}

#Latest h2 {
  text-decoration: blink;
}

#Latest p {
  background-color: #AAA;
  color: #FFF;
  text-shadow: -1px -1px #666;
}

#Candy p {
  background-color: #CCC;
  color: #FFF;
  text-shadow: 2px 2px 7px #111;
  text-align: center;
}