<!DOCTYPE html>
<html lang="en">
<head>
    <link href="layout_goof_2.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>The Goof's Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Home of the Goof</li>
                <li>Email the Goof</li>
                <li>The Goof's Media</li>
                <li>The Goof's Blog</li>
            </ul>
        </nav>
        <section class="banner">
            <h1>The Goof's Home</h1>
            <img id="logo" src="https://static.wikia.nocookie.net/disney/images/d/d1/Icerasaludosamigos1504.jpg/revision/latest/scale-to-width-down/700?cb=20100630164639" width="100">
            <!-- <img src="https://static.wikia.nocookie.net/disney/images/3/3d/MDG_Service_Station.jpg/revision/latest/scale-to-width-down/1000?cb=20170317012032" width="500"> -->
        </section>
    </header>
    <main>
        <section>
            <article id="bio">
                <h2>Meet The Goof</h2>
                <p>The Goof is a shy guy. Please do not ask too many questions. All you should know is that he enjoys long walks, french fries, and huffing lighter fluids. He has a son, Maximilianus.</p>
                <img src="https://static.wikia.nocookie.net/disney/images/c/ce/Geefgoof.jpg/revision/latest/scale-to-width-down/400?cb=20130319152553">
            </article>
            <aside>
                <h2>Secrets about the Goof</h2>
                <p>Where is the Goof's wife? He claims she is in Canada. Some say she is not real.</p>
                <img src="https://static.wikia.nocookie.net/disney/images/3/31/Asd6a3sa5d.png/revision/latest/scale-to-width-down/143?cb=20131112220900">
            </aside>
        </section>
        <section id="cover_story">
            <article>
                <h2>A Very Sad Story.</h2>
                <blockquote>It's not easy being Goof.</blockquote>
                <img src="https://upload.wikimedia.org/wikipedia/en/e/ed/Mickey_Mouse_film_poster.png">
                <p>The Goof has some secrets. He does not always know why he cries. At times he wakes up screaming in the middle of the night, covered in sweat, too afraid to remember his own nightmares. At times, he eats too much broccoli. He is a tired fellow, an old fellow, a jolly old timer who has had one too many. He is addicted to the "good stuff." He does not like his parents. He sits alone on the curb. At times, he hails a cab; but he does not know where he wants to go. He feels shame for his droopy hat and his buck teeth. He wants to eat Mickey's face.</p>
            </article>
        </section>
        <section id="final_story">
            <article>
                <h2>A happy one for the kids</h2>
                <img src="https://upload.wikimedia.org/wikipedia/en/c/cb/Polar_trappers_title.jpg">
                <p>The Goof loves cycling. He takes his bike and rides it for hours, looking for fun times around the city. He does not always find what he looks for, but he always gets what he needs: weed, pills, open jars of paint and lighter fluid. He dips his large proboscis right into them, takes a long deep whiff and lifts his bloodshot eyes, feeling like he's finally alive again. On some occasions, he takes out his hammock and hangs it in the middle of the park. Then he fills the hammock with nuts and garbage, puts his own hat on top of it, hides behind a tree, and waits to see if anybody approaches that hollow vessel of a Goof. But nobody ever does.</p>
            </article>
        </section>
        <section id="bits_of_fun">
            <h2>Bits of Fun for the Whole Family!</h2>
            <p>Don't tell the Goof where you've been! He'll stalk you day and night.</p>
            <p>Why is the Goof's head stuck in a plastic bag? <strong>Pro-tip</strong>: you don't wanna know!</p>
            <p id="last_in_row">How old is the Goof? His ID says that he's 21.</p>
            <p id="first_in_row">A house for a mouse: According to Mickey, the Goof has invited him over many times, looking to be "more than frisky."</p>
            <p>One more in the family: Maximilian Goof has ten piercings all over his body.</p>
            <p>Jail time for the Goof? He's never been convicted, but he's been on trial seventeen times.</p>
        </section>
    </main>
    <footer>
        <p>Created by Mickey.</p>
    </footer>
</body>
</html>