body {
    font-family: Helvetica;
}

header h1 {
    background-image: url("../images/pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#Brushes h2 {
    background-color: mediumspringgreen;
}

#Frames h2 {
    background-color: lightcoral;
}

#Paint h2 {
    background-color: skyblue;
}

.starting_price {
    font-weight: bold;
    color: blue;
}