/* Fontypes */
/* Indie Flower is a wacky font that we use to show font-family. */

@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/indieflower/v12/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* We use Josefin Sans for the body of the page. It's pretty and readable.*/

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/josefinsans/v17/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/josefinsans/v17/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/josefinsans/v17/Qw3JZQNVED7rKGKxtqIqX5EUCGZ2dIn0FyA96fCTtIJRLSzo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/josefinsans/v17/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* We use Lobster for titles. */

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lobster/v23/neILzCirqoswsqX9zoKmMw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
/* We use Space Mono for code. */

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/spacemono/v6/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.major_emphasis {
    background-color: #31525B;
    color: #FFA101;
    /* color: #FAE6B1; */
}

.minor_emphasis {
    background-color: #B3DEE5;
    color: #31525B
    /* color: #FAE6B1; */
    /* color: #FFA101; */
    /* text-shadow: 2px 2px 4px #31525B */;
}

body {
    font-family: "Josefin Sans";
    background-color: #31525B;
    font-size: 130%;
}

h1 {
    font-family: "Lobster";
    font-size: 300%;
    text-align: center;
    text-shadow: -1px -2px #B3DEE5;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

h3 {
    font-size: 150%;
    font-weight: bold;
}

table {
    background-color:  #FAE6B1;
    border: 2px solid #FFA101;
    margin: 0 auto;
    width: 100%;
    table-layout: auto;
}

td {
    border: 1px solid #FFA101;
}

.code {
    background-color: lightgray;
    font-family: "Space Mono";
}

#example_font-family {
    font-family: "Indie Flower";
}

#example_font-size {
    font-size: 150%;
}

#example_font-weight {
    font-weight: 850;
}

#example_font-style {
    font-style: italic;
}

#example_text-transform {
    text-transform: uppercase;
}

#example_text-decoration {
    text-decoration: line-through;
}

#example_letter-spacing {
    letter-spacing: 0.5em;
}

#example_word-spacing {
    word-spacing: 2em;
}

#example_text-align {
    text-align: right;
}

#example_text-indent {
    text-indent: 20px;
}

#example_line-height {
    line-height: 2em;
}

#example_text-shadow_1 {
    text-shadow: 1px 1px 0px #000;
}

#example_text-shadow_2 {
    text-shadow: 1px 1px 3px #666;
}

#example_text-shadow_3 {
    text-shadow: 2px 2px 7px #111;
}

#example_text-shadow_4 {
    text-shadow: -1px -2px #666;
}